
form{
    margin:0 auto;
    width:40%;    
    color: #FCFCFE;
    width: 80%;
    height: 60%;
    background: rgb(181,189,200); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border:3px solid #A2E8E8; 
    text-align: center;
    font-family: "Chalet", Helvetica, Verdana;
    font-size: 1.5 em;
    margin-top: 10%;
}

.admin{    
    background: #14C9C0;
    font-family: "Comic Sans MS";
    color: #104141;
    font-size:1em;
    margin-left: 2%;
    margin-top: 2%;
}

.blog{
    background: rgb(247,251,252); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(247,251,252,1) 0%, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(247,251,252,1)), color-stop(40%,rgba(217,237,242,1)), color-stop(100%,rgba(173,217,228,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background: #14C9C0;
    font-family: "Comic Sans MS";
    color: #104141;
    font-size:1em;
    width: 70%;
    height: 50%;
    margin-top: 1.5%;
    margin-left: 2%;
}

.h2{
    font-size: 2em;
    text-align: center;
    color: #0C1021;
}

.imagen{
    width: 70%;
    height: 45%;
    border:5px solid #35DBD2;
    margin-left: 14%;
}

.imgAdmin{
    width: 40%;
    height: 20%;
    margin-right: 55%;
}

.sidebar{
    background: rgb(181,189,200); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border:3px solid #A2E8E8; 
    border-color: #D6D6D6;
    float: right; 
    width: 30%;
    height: 580px; 
    margin-top: 2%;
    margin-right: -37%;
    color:#35DBD2;
   
}

.sidebar2{
    background: rgb(181,189,200); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border:3px solid #A2E8E8; 
    border-color: #D6D6D6;
    float: right; 
    width: 30%;
    height: 580px; 
    margin-top:2%;
    margin-right: -37%;
    color:#35DBD2; 
    
}

.signin{
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: 10%;    
}

.new_entry{
    background: #14C9C0;
    font-family: "Comic Sans MS";
    color: #104141;
    font-size:1em;
    width: 90%;
    height: 90%;
    margin-top: 2%;
    margin-left: 3%;

 }

.view_entry{
    background: #14C9C0;
    font-family: "Comic Sans MS";
    color: #104141;
    font-size:1em;
    margin-left: 3%;
    width: 70%;
    height: 50%;
    margin-top: 1.5%;
 }

.frmComment{
    margin-left:-5%;
    width: 50%;
    height: 20%;
    margin-top: -3%;
 }

.frmPost{
    width: 40%;
    height: 40%;
    margin-left: 30%;
    font-family: "Chalet", Helvetica, Verdana;
    font-size: 1.5 em;
    margin-top: 10%;
 }

.desabledComment{
    margin-top: -7%;
 }

.author{
    margin-right: 78%; 
    margin-top: 3.5%;     
 }

.comment{
    margin-right: 32%; 
    margin-top: -3.7%; 
}

.date{
    margin-right: -15%; 
    margin-top: -3.7%; 
}

.status{
    margin-right: -52%; 
    margin-top: -3.7%; 
}

.submit{      
    margin-right: -86%;  
    margin-top: -2.1%;  
}

.frmEditar{
    width: 90% ;
    height:20%;
    margin-top: 3.5%;
}

.login{
    margin-right: -5%;  
    margin-top: 5%; 
}

table{
    padding:1%;
    margin-left:5%;
    border-spacing: 0px;
    width: 90%;
    border: 3px solid #000;  
    margin-top: 2%;  
 }

td strong{
    font-size: 1.5em;   
 }
td{
    border: 2px solid #000;
    text-align: center;    
 }

.title{
    margin-right: 38%; 
    margin-top: -3.7%; 
}
.content{
    margin-right: -8%; 
    margin-top: -3.7%; 
}
.date1{
    margin-right: -55%; 
    margin-top: -3.7%; 
}
.biography{
    text-align: center;
}



